//
// Permissions required by modules stored in a run-time image and loaded
// by the platform class loader.
//

grant {
    permission java.io.FilePermission "./build/resources/main/bot.properties", "read";
    permission java.io.FilePermission "./bot.properties", "read";

    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "shutdownHooks";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "createSecurityManager";

    permission java.net.NetPermission "getProxySelector";
    permission java.net.SocketPermission "discord.com", "resolve";
    permission java.net.SocketPermission "gateway.discord.gg", "resolve";
    permission java.net.SocketPermission "162.159.135.232:443", "connect,resolve";
    permission java.net.SocketPermission "162.159.128.233:443", "connect,resolve";
    permission java.net.SocketPermission "162.159.137.232:443", "connect,resolve";
    permission java.net.SocketPermission "162.159.138.232:443", "connect,resolve";
    permission java.net.SocketPermission "162.159.136.232:443", "connect,resolve";
    permission java.net.SocketPermission "162.159.130.234:443", "connect,resolve";

    permission java.util.PropertyPermission "com.fasterxml.jackson.core.util.BufferRecyclers.trackReusableBuffers", "read";
    permission java.util.PropertyPermission "gnu.trove.verbose", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.byte", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.short", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.char", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.int", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.long", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.float", "read";
    permission java.util.PropertyPermission "gnu.trove.no_entry.double", "read";
};